binds {
    Mod+Return repeat=false hotkey-overlay-title="Open a Terminal: kitty" { spawn "kitty"; }
    Mod+E repeat=false hotkey-overlay-title="Open File Manager: nautilus" { spawn "nautilus"; }
    Mod+O repeat=false hotkey-overlay-title="Run an Application: rofi" { spawn "rofi" "-show" "drun"; }
    Mod+V repeat=false hotkey-overlay-title="Open a Editor: visual studio code" { spawn "code"; }
    Mod+N repeat=false hotkey-overlay-title="Open a Web Browser: firefox" { spawn "firefox"; }

    Mod+Q repeat=false { close-window; }
    Mod+Ctrl+Shift+M repeat=false { quit; }
    Mod+F repeat=false { fullscreen-window; }
    Mod+D repeat=false { maximize-column; }
    Mod+Shift+D repeat=false { maximize-window-to-edges; }
    Mod+Shift+F repeat=false { toggle-window-floating; }
    Mod+T { toggle-column-tabbed-display; }
    Mod+Shift+O { toggle-overview; }

    // Noctalia shell
    Mod+W repeat=false { spawn "qs" "-c" "noctalia-shell" "ipc" "call" "wallpaper" "toggle"; }
    Mod+M repeat=false { spawn "qs" "-c" "noctalia-shell" "ipc" "call" "darkMode" "toggle"; }
    Mod+Alt+L repeat=false { spawn "qs" "-c" "noctalia-shell" "ipc" "call" "lockScreen" "lock"; }
    Mod+C repeat=false { spawn "qs" "-c" "noctalia-shell" "ipc" "call" "launcher" "clipboard"; }

    Mod+S { screenshot; }
    Mod+Shift+S { screenshot-window; }
    Mod+Alt+S { screenshot-screen; }

    Mod+Left cooldown-ms=150 { focus-column-left; }
    Mod+Right cooldown-ms=150 { focus-column-right; }
    Mod+Up cooldown-ms=150 { focus-window-up; }
    Mod+Down cooldown-ms=150 { focus-window-down; }
    Mod+H cooldown-ms=150 { focus-column-left; }
    Mod+L cooldown-ms=150 { focus-column-right; }
    Mod+K cooldown-ms=150 { focus-window-up; }
    Mod+J cooldown-ms=150 { focus-window-down; }

    Mod+Home repeat=false { focus-column-first; }
    Mod+End repeat=false { focus-column-last; }

    Mod+BracketLeft  { consume-or-expel-window-left; }
    Mod+BracketRight { consume-or-expel-window-right; }

    Mod+1 repeat=false { focus-workspace 1; }
    Mod+2 repeat=false { focus-workspace 2; }
    Mod+3 repeat=false { focus-workspace 3; }
    Mod+4 repeat=false { focus-workspace 4; }
    Mod+5 repeat=false { focus-workspace 5; }
    Mod+6 repeat=false { focus-workspace 6; }
    Mod+7 repeat=false { focus-workspace 7; }
    Mod+8 repeat=false { focus-workspace 8; }
    Mod+9 repeat=false { focus-workspace 9; }
    Mod+0 repeat=false { focus-workspace 10; }

    Mod+WheelScrollLeft cooldown-ms=150 { focus-column-left; }
    Mod+WheelScrollRight cooldown-ms=150 { focus-column-right; }
    Mod+WheelScrollUp cooldown-ms=150 { focus-workspace-up; }
    Mod+WheelScrollDown cooldown-ms=150 { focus-workspace-down; }

    Mod+Comma repeat=false { focus-workspace-up; }
    Mod+Period repeat=false { focus-workspace-down; }

    Mod+Shift+Left cooldown-ms=150 { move-column-left; }
    Mod+Shift+Right cooldown-ms=150 { move-column-right; }
    Mod+Shift+Up cooldown-ms=150 { move-window-up; }
    Mod+Shift+Down cooldown-ms=150 { move-window-down; }
    Mod+Shift+H cooldown-ms=150 { move-column-left; }
    Mod+Shift+L cooldown-ms=150 { move-column-right; }
    Mod+Shift+K cooldown-ms=150 { move-window-up; }
    Mod+Shift+J cooldown-ms=150 { move-window-down; }

    Mod+Shift+WheelScrollLeft cooldown-ms=150 { move-column-left; }
    Mod+Shift+WheelScrollRight cooldown-ms=150 { move-column-right; }
    Mod+Shift+WheelScrollUp cooldown-ms=150 { move-window-up; }
    Mod+Shift+WheelScrollDown cooldown-ms=150 { move-window-down; }

    Mod+Shift+Home repeat=false { move-column-to-first; }
    Mod+Shift+End repeat=false { move-column-to-last; }

    Mod+Shift+1 repeat=false { move-window-to-workspace 1; }
    Mod+Shift+2 repeat=false { move-window-to-workspace 2; }
    Mod+Shift+3 repeat=false { move-window-to-workspace 3; }
    Mod+Shift+4 repeat=false { move-window-to-workspace 4; }
    Mod+Shift+5 repeat=false { move-window-to-workspace 5; }
    Mod+Shift+6 repeat=false { move-window-to-workspace 6; }
    Mod+Shift+7 repeat=false { move-window-to-workspace 7; }
    Mod+Shift+8 repeat=false { move-window-to-workspace 8; }
    Mod+Shift+9 repeat=false { move-window-to-workspace 9; }
    Mod+Shift+0 repeat=false { move-window-to-workspace 10; }

    Mod+Shift+Comma cooldown-ms=150 { move-window-to-workspace-up; }
    Mod+Shift+Period cooldown-ms=150 { move-window-to-workspace-down; }

    Mod+Ctrl+Left cooldown-ms=150 { switch-preset-column-width-back; }
    Mod+Ctrl+Right cooldown-ms=150 { switch-preset-column-width; }
    Mod+Ctrl+Up cooldown-ms=150 { set-window-height "-10%"; }
    Mod+Ctrl+Down cooldown-ms=150 { set-window-height "+10%"; }
    Mod+Ctrl+H cooldown-ms=150 { switch-preset-column-width-back; }
    Mod+Ctrl+L cooldown-ms=150 { switch-preset-column-width; }
    Mod+Ctrl+K cooldown-ms=150 { set-window-height "-10%"; }
    Mod+Ctrl+J cooldown-ms=150 { set-window-height "+10%"; }

    Mod+Ctrl+WheelScrollLeft cooldown-ms=50 { switch-preset-column-width-back; }
    Mod+Ctrl+WheelScrollRight cooldown-ms=50 { switch-preset-column-width; }
    Mod+Ctrl+WheelScrollUp cooldown-ms=50 { set-window-height "-10%"; }
    Mod+Ctrl+WheelScrollDown cooldown-ms=50 { set-window-height "+10%"; }

    XF86AudioRaiseVolume cooldown-ms=150 allow-when-locked=true { spawn "pactl" "set-sink-volume" "@DEFAULT_SINK@" "+2%"; }
    XF86AudioLowerVolume cooldown-ms=150 allow-when-locked=true { spawn "pactl" "set-sink-volume" "@DEFAULT_SINK@" "-2%"; }
    XF86AudioMute repeat=false allow-when-locked=true { spawn "pactl" "set-sink-mute" "@DEFAULT_SINK@" "toggle"; }
    XF86AudioMicMute repeat=false allow-when-locked=true { spawn "pactl" "set-source-mute" "@DEFAULT_SOURCE@" "toggle"; }

    XF86AudioPlay repeat=false allow-when-locked=true { spawn "playerctl" "play-pause"; }
    XF86AudioPause repeat=false allow-when-locked=true { spawn "playerctl" "play-pause"; }
    XF86AudioStop repeat=false allow-when-locked=true { spawn "playerctl" "stop"; }
    XF86AudioPrev repeat=false allow-when-locked=true { spawn "playerctl" "previous"; }
    XF86AudioNext repeat=false allow-when-locked=true { spawn "playerctl" "next"; }

    XF86MonBrightnessUp cooldown-ms=150 allow-when-locked=true { spawn "brightnessctl" "-e4" "-n2" "set" "5%+"; }
    XF86MonBrightnessDown cooldown-ms=150 allow-when-locked=true { spawn "brightnessctl" "-e4" "-n2" "set" "5%-"; }
}
