layout {
    gaps 6
    center-focused-column "never"
    default-column-display "normal"
    background-color "transparent"

    // Read https://github.com/niri-wm/niri/pull/3004 for more details
    // fullscreen-backdrop-color "transparent"

    preset-column-widths {
        proportion 0.33333
        proportion 0.5
        proportion 0.66667
    }

    preset-window-heights { }

    default-column-width { proportion 0.5; }

    focus-ring {
        off
        width 3
        active-color "#7fc8ff"
        inactive-color "#505050"
    }

    border {
        on
        width 3
        active-color "#ffc87f"
        inactive-color "#505050"
        urgent-color "#9b0000"
    }

    shadow {
        on
        softness 10
        spread 4
        offset x=0 y=5
        color "#0007"
    }

    tab-indicator {
        on
        place-within-column
    }

    struts {
        // left 64
        // right 64
        // top 64
        // bottom 64
    }
}
