window-rule {
    geometry-corner-radius 10
    clip-to-geometry true
    opacity 0.98
    draw-border-with-background false

    background-effect {
        blur true
    }
}

window-rule {
    match app-id=r#"(?i)kitty"# is-active=true

    opacity 0.93
}

window-rule {
    match app-id=r#"(?i)kitty"# is-active=false

    opacity 0.8
}

window-rule {
    match app-id=r#"(?i)vlc"# title=r#"^(Select|Open)"#

    open-floating true
}

window-rule {
    match app-id=r#"(?i)nautilus"#

    open-floating true
    default-floating-position x=460 y=180 relative-to="top-left"

    min-width 1000
    min-height 720
}

window-rule {
    match app-id="Clash-verge" title="Clash Verge"

    open-on-workspace "second"
    open-maximized true
}

// Open the Firefox picture-in-picture player as floating by default.
window-rule {
    // This app-id regular expression will work for both:
    // - host Firefox (app-id is "firefox")
    // - Flatpak Firefox (app-id is "org.mozilla.firefox")
    match app-id=r#"firefox$"# title="^(Picture-in-Picture|画中画)$"
    open-floating true

    max-width 800
    max-height 600
}

// Work around WezTerm's initial configure bug
// by setting an empty default-column-width.
window-rule {
    // This regular expression is intentionally made as specific as possible,
    // since this is the default config, and we want no false positives.
    // You can get away with just app-id="wezterm" if you want.
    match app-id=r#"^org\.wezfurlong\.wezterm$"#
    default-column-width {}
}

window-rule {
    match app-id=r#"^org\.keepassxc\.KeePassXC$"#
    match app-id=r#"^org\.gnome\.World\.Secrets$"#

    block-out-from "screen-capture"

    // Use this instead if you want them visible on third-party screenshot tools.
    // block-out-from "screencast"
}
